<!DOCTYPE html>
<html>
<head>
    <title>充值提现</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/mb/assets/css/public.css?v=0105712" type="text/css">
    <link rel="stylesheet" href="/mb/assets/css/user.css?v=0105712" type="text/css">
    <script src="/mb/assets/scripts/base/sea.js?v=0105712"></script>
    <script src="/mb/assets/scripts/base/flexible.js?v=01057"></script>
    <style>
        h2{font-weight: bold;}
        table{
            width: 100%;
            margin: 10px 0;
            text-align: center;
            border-right: 0px solid #ccc;
            border-bottom: 1px solid #ccc;
            font-size: 1rem;
            line-height: 2rem;
        }
        table td{
            border-left: 1px solid #ccc;
            border-top: 1px solid #ccc;
            border-right: 1px solid #ccc;
        }
        .bold{font-weight: bold;font-size: 1.5rem;}
    </style>
</head>
<body>
<article class="views">
    <section class="view">
        <div class="pages">
            <div class="page">
            	<div class="page-content">
                    <div class="ques-con" style="padding-bottom: 2rem;overflow: hidden;">
		                       	<h2>1、如何充值？</h2>
		                        <p>登录账户，点击首页右下角“我的” <span class="bold">--></span> 点击“充值”/“提现”。</p>
		                        <h2>2、充值都有哪些充值方式？ </h2>
		                        <p>大额充值模式和富友充值（需重新绑定银行卡）;富友单次充值最低2元起；</p>
		                        <p>大额充值请汇款至：北京友信宝网络科技有限公司，账号：1028 5000 0014 6002 0，开户行信息：华夏银行北京分行上地支行。备注：姓名+手机号+无忧借条大额充值。</p>
		                        <p>充值产生的手续由用户承担。</p>
		                        <h2>3、充值之后多久到帐？未到账怎么办？</h2>
		                        <p>即时到账，出现充值15分钟后未到账，核实银行是否扣款；特殊情况致电客服电话400-6688-658核实。</p>
		                        <h2>4、提款到账时间？提现手续费多少？</h2>
		                        <p>上线富友认证支付，实现提现实时到账(一般10分钟之内)，实际到账时间因银行有所差别；手续费每笔2元。</p>
		                        <table>
		                            <tr>
		                                <td>时间</td>
		                                <td>金额限制</td>
		                            </tr>
		                            <tr>
		                                <td>09:30-17:30</td>
		                                <td>提现金额不受限制</td>
		                            </tr>
		                            <tr>
		                                <td>17:30-09:30（次日）</td>
		                                <td>单笔提现限额≤1.5万，累计提现限额≤1.5万</td>
		                            </tr>
		                        </table>
		
		                        <p>a、9:30-17:30期间提现单笔大于等于3W元时，需人工审核后才可以提现。</p>
		                        <p>b、充值提现的银行卡类型仅支持储蓄卡，不支持信用卡；不支持提款到别人银行卡。</p>
		                        <p>c、提现申请通过后，若因申请人信息有误导致银行打款失败，将扣除2元并退还用户。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
</body>
</html>