<!DOCTYPE html>
<html>
<head>
    <title>充值说明</title>
    <meta charset="UTF-8"/>
    <meta name="keywords" content="无忧借条"/>
    <meta name="description" content="无忧借条"/>
    <link rel="stylesheet" href="/mb/assets/css/public.css" type="text/css">
    <link rel="stylesheet" href="/mb/assets/css/user.css" type="text/css">
    <script src="/mb/assets/scripts/base/sea.js"></script>
    <script src="/mb/assets/scripts/base/flexible.js"></script>
    <style>
        .sec p {
            font-size: 1.2rem;
            line-height: 2.5rem;
        }

        table {
            width: 100%;
            margin: 10px 0;
            text-align: center;
            border-right: 0px solid #ccc;
            border-bottom: 1px solid #ccc;
            font-size: 1rem;
            line-height: 2rem;
        }

        table td {
            border-left: 1px solid #ccc;
            border-top: 1px solid #ccc;
            border-right: 1px solid #ccc;
        }

        table span {
            color: red;
        }

    </style>
</head>
<body>
<article class="views">
    <section class="view">
        <div class="pages ">
            <div class="page navbar-fixed">
                <div class="page-content" style="padding-top: 3rem;">
                    <div class="ques-con">
                        <div class="sec">

                            <p>1.本站不支持信用卡充值或提现，如提示“不支持的卡类型”，请联系客服更换银行卡；</p>
                            <p>2.单次充值最低3元起(>2)；</p>
                            <p>3.充值没有及时到账，请咨询在线客服人员；</p>
                            <p>4.支持的银行及限额请参考下表（银行列表及额度如有变动，会及时更新）：</p>
                            <p style="    text-align: center;font-weight: bold;">支持银行及限额表</p>
                            <table border="0" cellpadding="0" cellspacing="0">

                                <tr>
                                    <td>银行</td>
                                    <td>单笔限额</td>
                                    <td>单日限额</td>
                                    <td>单月限额</td>
                                    <td>客服热线</td>
                                </tr>
                                <tr>
                                    <td>工商银行</td>
                                    <td>5万</td>
                                    <td style="height: 1.4rem;line-height: 1.4rem;">5万</td>
                                    <td>100万</td>
                                    <td>95588</td>
                                </tr>
                                <tr>
                                    <td>农业银行</td>
                                    <td>5000</td>
                                    <td style="height: 1.4rem;line-height: 1.4rem;">5000</td>
                                    <td>15万</td>
                                    <td>95599</td>
                                </tr>
                                <tr>
                                    <td>中国银行</td>
                                    <td>5万</td>
                                    <td>10万</td>
                                    <td>100万</td>
                                    <td>95566</td>
                                </tr>
                                <tr>
                                    <td>建设银行</td>
                                    <td>5万</td>
                                    <td>5万</td>
                                    <td>100万</td>
                                    <td>95533</td>
                                </tr>
                                <tr>
                                    <td style="height: 1.4rem;line-height: 1.4rem;">邮政储蓄<br/>银行</td>
                                    <td>5000</td>
                                    <td>5000</td>
                                    <td>100万</td>
                                    <td>95580</td>
                                </tr>
                                <tr>
                                    <td>平安银行</td>
                                    <td>5万</td>
                                    <td>5万</td>
                                    <td>100万</td>
                                    <td>95511</td>
                                </tr>
                                <tr>
                                    <td>民生银行</td>
                                    <td>2万</td>
                                    <td>2万</td>
                                    <td>100万</td>
                                    <td>95568</td>
                                </tr>
                                <tr>
                                    <td>光大银行</td>
                                    <td>5万</td>
                                    <td>5万</td>
                                    <td>100万</td>
                                    <td>95595</td>
                                </tr>
                                <tr>
                                    <td>广发银行</td>
                                    <td>50万</td>
                                    <td>50万</td>
                                    <td>100万</td>
                                    <td>400-830-8003</td>
                                </tr>
                                <tr>
                                    <td>中信银行</td>
                                    <td>5万</td>
                                    <td>5万</td>
                                    <td>100万</td>
                                    <td>95558</td>
                                </tr>
                                <tr>
                                    <td>兴业银行</td>
                                    <td>5万</td>
                                    <td>5万</td>
                                    <td>100万</td>
                                    <td>95561</td>
                                </tr>
                                <tr>
                                    <td>华夏银行</td>
                                    <td>1000</td>
                                    <td>5000</td>
                                    <td>15万</td>
                                    <td>95577</td>
                                </tr>
                                <tr>
                                    <td>招商银行</td>
                                    <td>2000</td>
                                    <td>5000</td>
                                    <td>15万</td>
                                    <td>95555</td>
                                </tr>
                                <tr>
                                    <td>浦发银行</td>
                                    <td>10万</td>
                                    <td>30万</td>
                                    <td>100万</td>
                                    <td>95528</td>
                                </tr>
                                <tr>
                                    <td>交通银行</td>
                                    <td>5万</td>
                                    <td>5万</td>
                                    <td>100万</td>
                                    <td>95559</td>
                                </tr>
                                <tr>
                                    <td>上海银行</td>
                                    <td>5万</td>
                                    <td>5万</td>
                                    <td>100万</td>
                                    <td>95594</td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
</body>
</html>