<!DOCTYPE html>
<html>
<head>
    <title>五项安全保障</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/mb/assets/css/v1/m1.css" type="text/css">
    <script src="/mb/assets/scripts/base/sea.js"></script>
    <script src="/mb/assets/scripts/base/flexible.js"></script>
    <style>
        .jtys a {
            display: block;
        }

        a img {
            display: block;
            width: 100%;
        }
    </style>
</head>
<body>
<article class="views docBody">
    <section class="view">
        <div class="pages">
            <div class="page">
                <div class="page-content">
                    <div class="jtys">
                        <a href="javascript:void 0" id="e1"><img
                                src="/mb/assets/images/safe-protect-1.png"/></a>
                        <a href="javascript:void 0" id="e2"><img
                                src="/mb/assets/images/safe-protect-2.png"/></a>
                        <a href="javascript:void 0" id="e3"><img
                                src="/mb/assets/images/safe-protect-3.png"/></a>
                        <a href="javascript:void 0" id="e4"><img
                                src="/mb/assets/images/safe-protect-4.png"/></a>
                        <a href="javascript:void 0" id="e5"><img
                                src="/mb/assets/images/safe-protect-5.png"/></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
</body>
</html>