<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


  <!-- 短信轮询的线程池 -->
  <bean id="smsConsumer" class="com.jxf.mms.consumer.impl.SMSConsumer">
    <property name="consumer_thread_number" value="${sms.thread.size}"/>    
    <property name="interval" value="${sms.thread.interval}" />    <!-- 每个线程轮询队列的间隔，单位：秒 -->
    <property name="queue" ref="smsQueue" />
    <property name="smsGateWay" ref="smsGateWay" />
  </bean>
  
  
    <!-- APP消息轮询的线程池 -->
  <bean id="appMsgConsumer" class="com.jxf.mms.consumer.impl.AppMsgConsumer">
    <property name="consumer_thread_number" value="${appmsg.thread.size}"/>    
    <property name="interval" value="${appmsg.thread.interval}" />    <!-- 每个线程轮询队列的间隔，单位：秒 -->
    <property name="queue" ref="appMsgQueue" />
  </bean>


  <!-- 短信队列 -->
  <bean id="smsQueue" class="com.jxf.mms.queue.SMSQueue"></bean>
  
    <!-- 消息队列 -->
  <bean id="appMsgQueue" class="com.jxf.mms.queue.AppMsgQueue"></bean>

  <bean id="sendMsgService" class="com.jxf.mms.service.impl.SendMsgServiceImpl"></bean>
  
  <!-- 短信网关 -->
 <bean id="smsGateWay" class="com.jxf.mms.gateway.impl.LXHttpSMSGateWayImpl"/> 
  

</beans>