
<!DOCTYPE html>
<html>
<head>
    <title>君云借注册协议</title>
    <meta charset="UTF-8"/>
    <meta name="keywords" content="君云借注册协议"/>
    <meta name="description" content="无君云借注册协议忧借条"/>
    <link rel="stylesheet" href="/wyjt/static/assets/css/public.css" type="text/css">
    <link rel="stylesheet" href="/wyjt/static/assets/css/helpcenter.css" type="text/css">
    <script src="/wyjt/static/assets/scripts/base/sea.js"></script>
    <script src="/wyjt/static/assets/scripts/base/flexible.js"></script>
</head>
<body>
<article class="views">
    <section class="view">

        <div class="pages ">
            <div class="page navbar-fixed">
                <div class="page-content" style="padding-top: 0;">
                        <div class="ques-con">
                            <style>
                                p{
                                    text-indent: 2em;
                                }
                                h3{
                                    font-weight: bold;
                                    text-align: left;
                                }
                                .red{
                                    color: red;
                                }
                                .weight{
                                    font-weight: bold;
                                }
                                .underline{
                                    font-weight: bold;
                                    text-decoration: underline;
                                }
                            </style>
                            <h2>协议编号：</h2>
                            <p>尊敬的用户：您正在访问君云借(www.junyunjie.com)，我们依照以下协议内容向您提供本协议涉及的相关服务。协议涉及您使用君云借后的相应权利义务，为充分保障您使用本平台的权益和明确您使用本平台的义务，请您使用君云借前仔细阅读本协议。尤其是加粗部分。</p>
                            <p>君云借是由杭州君依网络科技有限公司及其关联实体(以下简称“我们”)运营的贷款信息服务平台。（注：本平台只提供贷款信息服务，使您尽快与第三方完成借贷需求。并不直接提供贷款）。</p>
                            <p>作为网络服务提供者，为切实履行个人信息安全保护义务，履行法律、行政法规规定的信息网络安全管理义务，明确用户与我们的权利义务，我们根据《中华人民共和国刑法》、《中华人民共和国刑事诉讼法》、《最高人民法院、最高人民检察院关于办理侵犯公民个人信息刑事案件适用法律若干问题的解释》、《中华人民共和国网络安全法》等相关法律法规的规定，制定本协议。</p>
                            <p><span  class="weight">您在注册为君云借用户过程中勾选“我已阅读并同意《君云借注册协议》与《隐私协议》”按钮即表示您已仔细阅读并明确同意遵守本注册协议以及经参引而并入其中的所有条款、政策以及指南，并受该等规则的约束（合称"本注册协议"）。</span>在君云借运营过程中，我们可能根据法律法规的要求或业务运营的需要，对本注册协议不时进行修改。除非另有规定，否则任何变更或修改将在修订内容于君云借发布之时立即生效，您对君云借的使用、继续使用将表明您接受此等变更或修改。如果您不同意本注册协议（包括我们可能不定时对其或其中引述的其他规则所进行的任何修改）的全部内容条款或部分内容条款，请勿使用君云借提供的所有服务，或您可以主动取消君云借提供的服务。</p>
                            <p>为了便于您实时关注和了解相应动态，维护您的权益。我们将在君云借上发布我们对本注册协议的修改，您应不时地审阅本注册协议以及经参引而并入其中的其他规则。</p>
                            <p>1、您确认，在您完成注册程序或以其他君云借允许的方式实际使用君云借服务时，您应当是具备相应民事行为能力的自然人、法人或其他组织。我们不建议未成年人使用本平台，但若您不具备前述主体资格，则您的监护人应承担相应权利义务，且君云借有权注销您的账户及相关信息，给君云借造成损失的，君云借有权索偿。</p>
                            <p>2、君云借非常重视对青少年个人信息搜集和使用的安全性保护。君云借建议，任何未满18周岁的未成年人参加网上活动应事先取得其监护人可经查证的同意并遵守《青少年网络文明公约》。监护人应承担未成年人网络活动风险及保护未成年人相关网络隐私的首要责任。</p>

                            <h3>一、服务内容</h3>
                            <p>1.1 君云借的具体服务内容由我们根据实际情况提供并不时更新，具体内容发布形式包括但不限于信息、图片、文章、评论、链接等，我们将定期或不定期根据用户的意愿以电子邮件、短信、电话或站内信等方式为用户提供活动信息，并向用户提供学习、交流平台(以上统称“服务”)。 <span  class="weight">我们对提供的服务拥有最终解释权。</span></p>
                            <p>1.2 您了解并同意，一经注册用户账号，即视为您同意杭州君依网络科技有限公司其关联公司通过短信或者电子邮件的方式向您注册时填写的手机号码或者电子邮箱发送相应的产品服务广告信息、促销优惠等营销信息；您如果不同意发送，您可以通过相应的退订功能进行退订。</p>
                            <p>1.3 君云借服务仅供个人用户使用。除我们书面同意，您或其他用户均不得将君云借上的任何信息用于商业目的。</p>
                            <p>1.4 您使用君云借服务时所需的相关的设备以及网络资源等（如个人电脑及其他与接入互联网或移动网有关的装置）及所需的费用（如为接入互联网而支付的电话费及上网费）均由您自行负担。</p>

                            <h3>二、信息提供和隐私保护</h3>
                            <p>2.1 您在访问、使用君云借或申请使用君云借服务时，必须提供本人真实的个人信息，且您应该根据实际变动情况及时更新个人信息。保护用户隐私是我们的重点原则，我们通过各种技术手段和强化内部管理等办法提供隐私保护服务功能，充分保护您的个人信息安全。</p>
                            <p>2.2 君云借不负责审核您提供的个人信息的真实性、准确性或完整性，因信息不真实、不准确或不完整而引起的任何问题及其后果，由您自行承担，且您应保证我们免受由此而产生的任何损害或责任。若我们发现您提供的个人信息是虚假、不准确或不完整的，我们有权自行决定终止向您提供服务。</p>
                            <p >2.3 用户理解并授权：为申请获得君云借服务，您应向我们提供您的个人信息，为向您提供服务之目的，我们须向第三方透露您的个人信息。您特此向我们授权，为提供服务之目的，我们有权使用您的个人信息、您申请服务时提供相关信息和您在使用服务时储存在君云借软件的非公开内容(以下简称“个人资料”)。我们保证在除为提供服务之目的外，不向第三方提供您的个人资料，但下列情况除外：</p>
                            <p>（1）出于为您提供服务的需要在本网站公示您的个人资料；</p>
                            <p >（2）由人工或自动程序对您的个人资料进行获取、评估、整理、存储；</p>
                            <p >（3）使用您的个人资料以改进本网站的设计和推广；</p>
                            <p >（4）使用您提供的联系方式与您联络并向您传递有关服务和管理方面的信息；</p>
                            <p>（5）对您的个人资料进行分析整合并向为您提供服务的第三方提供为完成该项服务必要的信息。当为您提供服务的第三方与您电话核实信息时，为保证为您服务的质量，你同意君云借对上述核实电话进行录音。</p>
                            <p>（6）在您违反与我们或我们的其他用户签订的协议时，披露您的个人资料及违约事实，将您的违约信息写入黑名单并与必要的第三方共享数据，以供我们及第三方审核、追索之用。 </p>
                            <p>（7）其他必要的使用及披露您个人资料的情形。您已明确同意本条款不因您终止使用君云借服务而失效。如因我们行使本条款项下权利使您遭受损失，我们对该等损失免责。</p>
                            <p>2.4 为更好地为您提供服务，您同意并授权君云借可与其合作的第三方进行联合研究，并可将通过本协议获得的您的信息投入到该等联合研究中。但君云借与其合作的第三方在开展上述联合研究前，应要求其合作的第三方对在联合研究中所获取的您的信息予以保密。</p>
                            <p>2.5 我们不会向与您无关的第三方恶意出售或免费提供您的个人资料，但下列情况除外：</p>
                            <p>（1）事先获得您的明确授权；</p>
                            <p>（2）按照相关司法机构或政府主管部门的要求；</p>
                            <p>（3）以维护我们合法权益之目的；</p>
                            <p>（4）维护社会公众利益；</p>
                            <p>（5）为了确保君云借业务和系统的完整与操作。</p>
                            <p>（6）符合其他合法要求。</p>
                            <h3>三、使用准则</h3>
                            <p >3.1 您在使用君云借服务过程中，必须遵循国家的相关法律法规，不通过君云借发布、复制、上传、散播、分发、存储、创建或以其它方式公开含有以下内容的信息：</p>
                            <p>（1）反对宪法所确定的基本原则的；</p>
                            <p>（2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
                            <p>（3）损害国家荣誉和利益的；</p>
                            <p>（4）煽动民族仇恨、民族歧视，破坏民族团结的；</p>
                            <p>（5）破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
                            <p>（6）散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
                            <p>（7）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的、欺诈性的或以其它令人反感的讯息、数据、信息、文本、音乐、声音、照片、图形、代码或其它材料；</p>
                            <p>（8）侮辱或者诽谤他人，侵害他人合法权益的；</p>
                            <p>（9）其他违反宪法和法律、行政法规或规章制度的；</p>
                            <p>（10）可能侵犯他人的专利、商标、商业秘密、版权或其它知识产权或专有权利的内容；</p>
                            <p>（11）假冒任何人或实体或以其它方式歪曲您与任何人或实体之关联性的内容；</p>
                            <p>（12）未经请求而擅自提供的促销信息、政治活动、广告或意见征集；</p>
                            <p>（13）任何第三方的私人信息，包括但不限于地址、电话号码、电子邮件地址、身份证号以及信用卡卡号；</p>
                            <p>（14）病毒、不可靠数据或其它有害的、破坏性的或危害性的文件；</p>
                            <p>（15）与内容所在的互动区域的话题不相关的内容；</p>
                            <p>（16）依我们的自行判断，足以令人反感的内容，或者限制或妨碍他人使用或享受互动区域或君云借的内容，或者可能使我们或我们关联方或其他用户遭致任何类型损害或责任的内容；</p>
                            <p>（17）包含法律或行政法规禁止内容的其他内容。</p>
                            <p>3.2 用户不得利用君云借的服务从事下列危害互联网信息网络安全的活动：</p>
                            <p>（1）未经允许，侵入计算机信息网络或者使用计算机信息网络资源；</p>
                            <p>（2）未经允许，对计算机信息网络功能进行删除、修改或者增加；</p>
                            <p>（3）未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加；</p>
                            <p>（4）故意制作、传播计算机病毒等破坏性程序；</p>
                            <p>（5）其他危害计算机信息网络安全的行为。</p>
                            <p>3.3 我们保留在任何时候为任何理由而不经通知地过滤、移除、筛查或编辑本网站上发布或存储的任何内容的权利，您须自行负责备份和替换在本网站发布或存储的任何内容，成本和费用自理。</p>
                            <p>3.4 您须对自己在使用君云借服务过程中的行为承担法律责任。若您为限制行为能力或无行为能力者，则您的监护人应承担相应的法律责任。</p>
                            <p>3.5 如您的操作影响系统总体稳定性或完整性，我们将暂停或终止您的操作，直到相关问题得到解决。</p>
                            <h3>四、免责声明</h3>
                            <p >4.1 君云借是一个开放平台，用户将文章或照片等个人资料上传到互联网上，有可能会被其他组织或个人复制、转载、擅改或做其它非法用途，用户必须充分意识此类风险的存在。作为网络服务的提供者，我们对用户在任何论坛、个人主页或其它互动区域提供的任何陈述、声明或内容均不承担责任。您明确同意使用君云借服务所存在的风险或产生的一切后果将完全由您自身承担，我们对上述风险或后果不承担任何责任。</p>
                            <p>4.2 您违反本注册协议、违反道德或法律的，侵犯他人权利（包括但不限于知识产权）的，我们不承担任何责任。同时，我们对任何第三方通过君云借发送服务或包含在服务中的任何内容不承担责任。</p>
                            <p >4.3 对您、其他用户或任何第三方发布、存储或上传的任何内容或由该等内容导致的任何损失或损害，我们不承担责任。</p>
                            <p >4.4 对任何第三方通过君云借可能对您造成的任何错误、中伤、诽谤、诬蔑、不作为、谬误、淫秽、色情或亵渎，我们不承担责任。对黑客行为、计算机病毒、或因您保管疏忽致使帐号、密码被他人非法使用、盗用、篡改的或丢失，或由于与本网站链接的其它网站所造成您个人资料的泄露，我们不承担责任。如您发现任何非法使用用户帐号或安全漏洞的情况，请立即与我们联系。</p>
                            <p>4.6 因任何非君云借原因造成的网络服务中断或其他缺陷，我们不承担任何责任。</p>
                            <p >4.7 我们不保证服务一定能满足您的要求；不保证服务不会中断，也不保证服务的及时性、安全性、准确性。 </p>
                            <p >4.8 任何情况下，因使用君云借而引起或与使用君云借有关的而产生的由我们负担的责任总额，无论是基于合同、保证、侵权、产品责任、严格责任或其它理论，均不得超过您因访问或使用本网站而向君云借支付的任何报酬（若有）。</p>
                            <p>4.9 君云借提供免费的贷款搜索和推荐服务，贷款过程中遇到的任何预先收费均为诈骗行为，请保持警惕避免损失。</p>
                            <h3>五、服务变更、中断或终止</h3>
                            <p >5.1 如因升级的需要而需暂停网络服务、或调整服务内容，我们将尽可能在网站上进行通告。由于用户未能及时浏览通告而造成的损失，我们不承担任何责任。</p>
                            <p>5.2 您明确同意，我们保留根据实际情况随时调整君云借提供的服务内容、种类和形式，或自行决定授权第三方向您提供原本我们提供的服务。因业务调整给您或其他用户造成的损失，我们不承担任何责任。同时，我们保留随时变更、中断或终止 君云借全部或部分服务的权利。</p>
                            <p>5.3 发生下列任何一种情形，我们有权单方面中断或终止向您提供服务而无需通知您，且无需对您或第三方承担任何责任：</p>
                            <p>（1）您提供的个人资料不真实；</p>
                            <p>（2）您违反本服务条款；</p>
                            <p>（3）未经我们书面同意，将君云借平台用于商业目的。</p>
                            <p>5.4 您可随时通知我们终止向您提供服务或直接取消君云借服务。自您终止或取消服务之日起，我们不再向您承担任何形式的责任。</p>
                            <h3>六、知识产权及其它权利</h3>
                            <p>6.1 用户可以充分利用君云借平台共享信息。您可以在君云借发布从君云借个人主页或其他网站复制的图片和信息等内容，但这些内容必须属于公共领域或者您拥有以上述使用方式使用该等内容的权利，且您有权对该等内容作出本条款下之授权、同意、认可或承诺。</p>
                            <p>6.2 对您在君云借发布或以其它方式传播的内容，您作如下声明和保证：</p>
                            <p>（i）对于该等内容，您具有所有权或使用权；</p>
                            <p>（ii）该等内容是合法的、真实的、准确的、非误导性的；</p>
                            <p>（iii）使用和发布此等内容或以其它方式传播此等内容不违反本服务条款，也不侵犯任何人或实体的任何权利或造成对任何人或实体的伤害。</p>
                            <p>6.3 未经相关内容权利人的事先书面同意，您不得擅自复制、传播在君云借的该等内容，或将其用于任何商业目的，所有这些资料或资料的任何部分仅可作为个人或非商业用途而保存在某台计算机内。否则，我们及/或权利人将追究您的法律责任。</p>
                            <p>6.4 您在君云借发布或传播的自有内容或具有使用权的内容，您特此同意如下：</p>
                            <p>（1）授予我们使用、复制、修改、改编、翻译、传播、发表此等内容，从此等内容创建派生作品，以及在全世界范围内通过任何媒介（现在已知的或今后发明的）公开展示和表演此等内容的权利；</p>
                            <p>（2）授予君云借及其关联方和再许可人一项权利，可依他们的选择而使用用户有关此等内容而提交的名称；</p>
                            <p>（3）授予我们在第三方侵犯您在君云借的权益、或您发布在君云借的内容情况下，依法追究其责任的权利（但这并非我们的义务）；</p>
                            <p>6.5 您在君云借公开发布或传播的内容、图片等为非保密信息，我们没有义务将此等信息作为您的保密信息对待。在不限制前述规定的前提下，我们保留以适当的方式使用内容的权利，包括但不限于删除、编辑、更改、不予采纳或拒绝发布。我们无义务就您提交的内容而向您付款。一旦内容已在君云借发布，我们也不保证向您提供对在君云借发布内容进行编辑、删除或作其它修改的机会。</p>
                            <p>6.6 如有权利人发现您在君云借发表的内容侵犯其权利，并依相关法律、行政法规的规定向我们发出书面通知的，君云借有权在不事先通知您的情况下自行移除相关内容，并依法保留相关数据。您同意不因该种移除行为向我们主张任何赔偿，如我们因此遭受任何损失，您应向赔偿我们的损失（包括但不限于赔偿各种费用及律师费）。</p>
                            <p>6.7 若您认为您发布第6.6条指向内容并未侵犯其他方的权利，您可以向我们以书面方式说明被移除内容不侵犯其他方权利的书面通知，该书面通知应包含如下内容：您详细的身份证明、住址、联系方式、您认为被移除内容不侵犯其他方权利的证明、被移除内容在君云借 上的位置以及书面通知内容的真实性声明。我们收到该书面通知后，有权决定是否恢复被移除内容。</p>
                            <p>6.8 您特此同意，如果6.7条中的书面通知的陈述失实，您将承担由此造成的全部法律责任，如我们因此遭受任何损失，您应向赔偿我们的损失（包括但不限于赔偿各种费用及律师费）。</p>
                            <h3>七、特别约定</h3>
                            <p>7.1 您使用本服务的行为若有任何违反国家法律法规或侵犯任何第三方的合法权益的情形时，我们有权直接删除该等违反规定之信息，并可以暂停或终止向您提供服务。</p>
                            <p>7.2 若您利用君云借服务从事任何违法或侵权行为，由您自行承担全部责任，因此给我们或任何第三方造成任何损失，您应负责全额赔偿，并使我们免受由此产生的任何损害。</p>
                            <p>7.3 您同意我们通过重要页面的公告、通告、电子邮件以及常规信件的形式向您传送与君云借 服务有关的任何通知和通告。</p>
                            <p>7.4 如您有任何有关与君云借服务的个人信息保护相关投诉，请您与我们联系，我们将在接到投诉之日起15日内进行答复。</p>
                            <p>7.5 本服务条款之效力、解释、执行均适用中华人民共和国法律。</p>
                            <p>7.6 如就本协议内容或其执行发生任何争议，应尽量友好协商解决；协商不成时，任何一方均可向本合同签订地人民法院提起诉讼。</p>
                            <p>7.7 本合同签订地：杭州市滨江区。</p>
                            <p>7.8 本服务条款中的标题仅为方便而设，不影响对于条款本身的解释。本服务条款最终解释权归杭州君依网络科技有限公司所有。</p>
                            <p  class="weight">请您再次确认：您已仔细阅读并明确同意遵守本注册协议以及经参引而并入其中的所有条款、政策以及指南，并受该等规则的约束。</p>
                        </div>
                </div>
            </div>
        </div>
    </section>
</article>
</body>
</html>
