
<!DOCTYPE html>
<html>
<head>
    <title>隐私协议-君云借</title>
    <meta charset="UTF-8"/>
    <meta name="keywords" content="君云借"/>
    <meta name="description" content="君云借"/>
    <link rel="stylesheet" href="/wyjt/static/assets/css/public.css" type="text/css">
    <link rel="stylesheet" href="/wyjt/static/assets/css/helpcenter.css" type="text/css">
    <script src="/wyjt/static/assets/scripts/base/sea.js"></script>
    <script src="/wyjt/static/assets/scripts/base/flexible.js"></script>
</head>
<body>
<article class="views">
    <section class="view">

        <div class="pages ">
            <div class="page navbar-fixed">
                <div class="page-content" style="padding-top: 0;">
                        <div class="ques-con">
                            <style>
                                p{
                                    text-indent: 2em;
                                }
                                h3{
                                    color: black;
                                    font-weight: bold;
                                    text-align: center;
                                }
                                .weight{
                                    font-weight: bold;
                                    color: black;
                                }
                                .underline{
                                    font-weight: bold;
                                    text-decoration: underline;
                                }
                            </style>
                            <p>协议由杭州君依网络科技有限公司（以下简称“本公司”）和您签订。为明确用户在接受和提供君云借平台服务过程中的权利义务，特制订本协议。 您在通过本软件使用本公司提供的服务前，请仔细阅读以下的全部条款，一经点击“同意”或“勾选”后完成下一步操作，即视为您同意了本协议全部条款。所以，若您对本协议任何条款有异议的，请不要操作下一步或点击“同意”或“勾选”。</p>
                            <p>“君云借”（以下亦称“我们”）尊重并保护所有使用君云借平台服务的用户的个人隐私权，在您使用君云借提供的服务时（下称“服务”），我们将按照本协议规定收集、使用、共享及保护您的个人信息。</p>
                            <p>本协议包含了我们收集、存储、使用、共享和保护您的个人信息的条款，我们希望通过本协议向您清晰地介绍我们对为您提供的访问、更新、控制和保护您个人信息的方式，因此请您完整地阅读本《“君云借”用户信息使用许可及隐私保护协议》（下称“本协议”），作出您认为适当的选择。</p>
                            <h3>第一条 服务内容</h3>
                            <p>为用户提供更好、更优、更个性化的服务是君云借坚持不懈的追求，也希望通过我们提供的服务可以更方便您的生活，解决资金周转难题。本协议适用于君云借提供的所有服务，您访问君云借平台网站及/或登陆相关客户端使用君云借平台提供的服务，均适用本隐私权政策。</p>
                            <p>需要特别说明的是，本协议不适用于其他第三方出借人/机构向您提供的服务，例如君云借平台上的出借人/机构依托君云借平台向您提供服务时，您向第三方出借人/机构提供的个人信息不适用于本协议，我们只能做到与第三方出借人/机构商户进入平台前有签订禁止为了服务以外非法倒卖您个人信息条款，以免造成生活骚扰，同时也请您与第三方出借人/机构再次约定个人信息保密协议，第三方出借人/机构如果出现非法交换、出售、提供公民信息等违法行为均与君云借无关。</p>
                            <h3>第二条 信息收集</h3>
                            <p >我们提供服务时，可能会收集、储存和使用下列与您有关的信息。如果您不提供相关信息，可能无法注册成为我们的用户或无法享受我们提供的某些服务，或者无法达到相关服务拟达到的效果。</p>
                            <p >1.当您注册君云借账户及您在使用君云借平台提供的相关服务时填写及/或提交的信息，包括但不限于您的姓名、性别、出生年月日、身份证号码、电话号码、QQ号码、电子邮箱、地址及相关附加信息（如您所在的省份和城市、邮政编码等）。</p>
                            <p>2.为了提供并优化您需要的服务，我们会收集您使用服务的相关信息，这类信息包括： 在您使用君云借平台服务，或访问君云借平台网页时，君云借自动接收并记录的您的浏览器和计算机上的信息，包括但不限于您的IP地址、浏览器的类型、使用的语言、访问日期和时间、软硬件特征信息及您需求的网页记录等数据；如您下载或使用君云借或其关联公司客户端软件，或访问移动网页使用君云借平台服务时，君云借可能会读取与您位置和移动设备相关的信息，包括但不限于设备型号、设备识别码、操作系统、分辨率、电信运营商等。</p>
                            <p>用户理解，为申请获得君云借服务，您应向我们提供您的个人信息，为向您提供服务之目的，我们须向第三方透露您的个人信息。您特此向我们授权，为提供服务之目的，我们有权使用您的个人信息、您申请服务时提供相关信息和您在使用服务时储存在君云借的非公开内容(以下简称“个人资料”)。我们保证在除为提供服务之目的外，不对外公开或向第三方提供您的个人资料，但下列情况除外：</p>
                            <p>(1)事先获得您的明确授权；</p>
                            <p>(2)按照政府主管部门或相关法律的要求：</p>
                            <p>(3)只有透露您的个人资料，才能提供您所要求的产品和服务；</p>
                            <p>(4)以维护君云借合法权益之目的；</p>
                            <p>(5)维护社会公众利益；</p>
                            <p>(6)符合其他合法要求；</p>
                            <p>此外，为了配合政府或法律的合法要求、传票或指令，为了保护君云借的系统和用户，或者为了确保君云借业务和系统的完整与操作，我们可获取和披露其认为必要或恰当的任何信息，包括但不限于用户的个人信息、IP地址和流量信息、使用历史以及发布内容。本公司承诺尽商业上的合理努力采用安全技术和程序保障用户信息安全，且上述技术和程序不低于国家法律法规的要求，以防信息的丢失、不当使用等情况的发生。您知悉并认可：君云借可能会与第三方合作向用户提供相关的网络服务，在此情况下，君云借有权将用户的注册信息等资料提供给该第三方。另外，在不透露单个用户隐私资料的前提下，君云借有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。君云借可能会对网络服务使用情况进行统计。同时，君云借可能会与公众分享这些统计信息，以展示我们服务的整体使用趋势。这些统计信息不包含您的任何身份识别信息。</p>
                            <h3>第三条、借款匹配授权条款</h3>
                            <p>如果您选择同意并点击君云借首页的借款申请按钮（即向君云借出借人推送您的借款申请），君云借系统即将您的个人资料推送给合适的出借人/机构，此匹配功能根据您的资质决定配对机构的数量。您点击了下方的同意按钮即表示您充分理解了本授权协议并授权君云借可将您的个人资料推送给符合匹配情况的出借人/机构。如果您点击了下方的同意按钮选择推送您的个人资料,出借人/机构可能会以短信、电话、微信、QQ、站内信、系统通知等形式联系您，您应自行承担因此可能产生的任何借贷风险，如因后续与第三方机构产生的线下行为导致的任何风险、君云借对此不予负责。 君云借在此承诺不会泄露您的个人资料给非配对以及本协议内不包含的出借人/机构。出借人/机构依托君云借平台向您提供服务时，我们只能做到与第三方出借人/机构商户进入平台前有签订禁止为了服务以外非法倒卖您个人信息条款，以免造成生活骚扰，同时也请您与第三方出借人/机构再次约定个人信息保密协议，您向第三方出借人/机构提供的个人信息不适用于本协议，第三方出借人/机构如果出现非法交换、出售、提供公民信息等违法行为均与君云借无关。如有发现出借人/机构非法出售、交换您的个人资料问题，请第一时间与君云借工作人员举报。</p>
                            <h3>第四条 您的权利与义务</h3>
                            <p>（一）您必须为年满18岁并具有完全民事行为能力的自然人。</p>
                            <p>（二）您点击“同意”或“勾选”，即视为同意本协议全部内容，本公司亦即视为该等操作是证明、声明和保证您为接受服务的主体，并应遵守本协议的相关规定。</p>
                            <p>（三）您只能通过本公司软件获取自己的信息，不得在他人未知情的情况下获取他人的信息。</p>
                            <p>（四）您应妥善保管好登录本公司软件的账户名、密码等信息，并对以您名义进行的申请、查询等所有操作行为承担所有法律责任。</p>
                            <p>（五）您应妥善保管本人信息，包括并不限于用户名、账号、手机号码、密码、验证码。如因您本人保管个人信息不善，或因您不慎登录“钓鱼”网站、互联网邮箱系统出现安全问题，导致他人获得您的个人信息，或因此导致个人信息被他人取得可能导致用户遭受损失的后果由您自行承担。</p>
                            <p>（六）查询相关信息的数据来源均为第三方服务提供商，如有与第三方服务提供商所提供的信息存在差异，应以第三方服务提供商信息为准。您不应将其作为针对本手机客户端任何投诉、起诉、要求或者其他法律程序的依据。</p>
                            <p>（七）您不得传送任何包含病毒、木马、蠕虫等可能破坏、感染、密码拦截任何系统，数据和信息的程序， 不得通过黑客、密码破译等方式违法侵入计算机和网络系统，他人账户。</p>
                            <h3>第五条 免责声明</h3>
                            <p>经过您的确认和同意后，向君云借购买了相应服务的出借机构和人员可以通过我们的数据库获取您的基本信息，当您向君云借递交您的借款申请或者进行借款匹配时，您已经同意向君云借购买了相应服务的出借机构和人员拥有法律上许可的对您的个人信息进行查询及以短信、电话、微信、QQ、站内信、系统通知等形式通知和服务您（可退订）的权利。同时，我们对任何第三方通过君云借发送服务或包含在服务中的任何内容不承担责任。 对于因此而引起的任何法律纠纷，君云借也不承担任何法律责任。对任何第三方通过君云借可能对您造成的任何错误、中伤、诽谤、诬蔑、不作为、谬误、淫秽、色情或亵渎，我们不承担责任。 如您对本协议有任何疑问，您可以通过君云借平台公布的联系方式与我们联系。如果您不同意本协议任何内容，您应立即停止注册/使用君云借平台服务。当您注册、使用或继续使用君云借平台提供的任一服务时，即表示您已同意我们按照本协议来合法使用和保护您的个人信息。</p>
                            <h3>第六条 不可抗力条款</h3>
                            <p>因台风、地震、海啸、洪水、战争、计算机病毒感染、黑客攻击、网络通信故障等不能预见、不能控制的不可抗力因素，造成本公司不能正常向您提供服务而可能导致的损失，本公司不承担责任。</p>
                            <h3>第七条 网络传输风险</h3>
                            <p >您理解并同意，由于本协议所列服务涉及个人隐私，通过网络提供和传输存在特定的泄密风险，用户一经充分考虑到该风险，并愿意承担该风险通过网络的方式完成本项服务，如果因网络传输导致个人隐私泄露等后果，将由用户自行承担。尽管君云借已作好了全面的安全防范措施后，以下情况仍然有可能发生，例如某一第三方躲过了我们的安全措施并进入我们的数据库，查找到您的个人信息。君云借认为在您把您的个人信息放入我们的数据库时，您已经意识到了这种风险的存在，并同意承担这样的风险。对于因此而引起的任何法律纠纷，君云借不承担任何法律责任。</p>
                            <h3>第八条 法律适用条款以及争议解决方式</h3>
                            <p >本协议的解释、履行及争议的解决均适用中华人民共和国法律。在协议履行期间，凡由本协议引起的或与本协议有关的一切争议、纠纷，当事人应首先协商解决。协商不成，向合同签订地杭州市滨江区人民法院提起诉讼。</p>
                            <h3>第九条 附则</h3>
                            <p >（一）若本协议中的任何条文无论因何种原因完全或部分无效或不具有执行力，本协议的其他条款仍继续有效。</p>
                            <p >（二）本协议未尽事宜，根据我国相关法律、法规、各信息提供方相关业务规定及您注册本网站/APP时同意的《用户注册协议》办理。如需制定补充协议，其法律效力同本协议。</p>
                            <p>（三）本协议将使用电子签署的方式完成签署，自您点击“同意”或“勾选”并进行下一步操作后则协议生效。</p>
                            <p >（四）您在本协议项下对本公司的授权将视为对本公司及本公司之关联公司的授权。本公司及本公司关联公司均可凭借您的授权及本协议约定执行相关操作。</p>
                            <p >若本协议中的任何条文无论因何种原因完全或部分无效或不具有执行力，本协议的其他条款仍继续有效。</p>
                            <p >君云借会不时更新本协议，该等修订构成本协议的一部分。在我们更新本协议后，无论我们是否发出通知，而您仍继续使用君云借提供的服务，即表示您同意受经修订本协议的约束。本协议属于君云借使用协议不可分割的有效组成部分。 如果您不同意本协议（包括我们可能不定时对其或其中引述的其他规则所进行的任何修改）的全部规定，则请勿使用君云借提供的所有服务，或您可以主动取消君云借提供的服务。</p>
                            <p >（以下无正文）</p>
                            <p  class="weight">您同意，您亦应严格遵守本协议的信息使用及隐私保护约定。</p>
                            <p >授权日期：</p>
                        </div>
                </div>
            </div>
        </div>
    </section>
</article>
</body>
</html>
