
<!DOCTYPE html>
<html>
<head>
    <title>用户注册协议</title>
    <meta charset="UTF-8"/>
    <meta name="keywords" content="无忧借条"/>
    <meta name="description" content="无忧借条"/>
    <link rel="stylesheet" href="/wyjt/static/assets/css/public.css" type="text/css">
    <link rel="stylesheet" href="/wyjt/static/assets/css/helpcenter.css" type="text/css">
    <script src="/wyjt/static/assets/scripts/base/sea.js"></script>
    <script src="/wyjt/static/assets/scripts/base/flexible.js"></script>
</head>
<body>
<article class="views">
    <section class="view">

        <div class="pages ">
            <div class="page navbar-fixed">
                <div class="page-content">
                    <div class="ques-con">
                        <style>
                            .weight{font-weight: bold; text-decoration: underline;}
                        </style>
                        <p style="text-indent: 2em">
                            无忧借条是北京友信宝网络科技有限公司（以下简称本公司）开发并拥有所有权和经营权的服务平台，本公司通过无忧借条向用户提供相关服务。您在使用相关服务之前，需要仔细阅读本协议，并通过在线形式签署，您选择【同意】，即表示协议生效。本协议由北京友信宝网络科技有限公司与您签订。</p>

                        <div class="sec">

                            <h2>一、定义及解释</h2>
                            <p>
                                1、无忧借条：系基于社交类金融服务的第三方服务平台，是北京友信宝网络科技有限公司拥有所有权与经营权的产品，包括yxinbao.com、51jt.com等无忧借条客户端以及后续开发的其他产品。</p>
                            <p>
                                2、用户：系通过无忧借条APP完成全部注册程序后，使用无忧借条平台服务者。</p>
                            <p>
                                3、无忧借条账户（或本文中所称谓的“该账户”）：系本公司向您提供的无忧借条平台上的唯一身份。您可以自行设置密码，您使用该账户登录后可以使用无忧借条的各项功能，如查询或计量您的交易记录和账户余额。</p>

                        </div>


                        <div class="sec">

                            <h2>二、声明和承诺</h2>

                            <p>
                                1、您完全理解并确认，在实际使用无忧借条前，您已充分阅读、理解并接受本协议的全部内容，同意遵循本协议之所有约定。</p>
                            <p>
                                2、您完全理解并同意，本公司有权根据需要随时对本协议内容进行单方面变更，并以在平台上公告的方式予以公布，无需另行单独通知您；您应不时地注意本协议及具体规则的变更，若您在本协议及具体规则内容公告变更后继续使用本服务的，表示您已充分阅读、理解并接受修改后的协议和具体规则内容，也将遵循修改后的协议和具体规则使用本网站的服务；若您不同意修改后的协议内容，您应停止使用无忧借条。</p>
                            <p>
                                3、您完全理解并保证，在使用无忧借条时，您应是具备完全民事行为能力的自然人、法人或其他组织；若您在国外，本协议内容不受您所属国家或地区法律的排斥。不具备前述条件的，您应立即停止使用无忧借条。</p>
                            <p>4、在无忧借条上的交易活动中，您无权要求本网站提供其他用户的个人资料，除非符合以下条件：</p>
                            <p>（1）您已通过法律途径起诉其他用户的在无忧借条活动中的违约行为；</p>
                            <p>（2）与您有关的其他用户逾期未归还借款本息；</p>
                            <p>（3）本网站被吊销营业执照、解散、清算、宣告破产或者其他有碍于您收回借款本息的情形。</p>

                        </div>

                        <div class="sec">


                            <h2>三、注册</h2>

                            <p>
                                1、您应该根据本公司的要求填写必要的注册信息和账户信息，并保证信息的合法性、真实性、及时性和有效性。注册成功后，如果您所填写的信息发生改变，您应当及时登录友信宝网站或APP变更相关内容。</p>
                            <p>
                                2、您同意本公司可以自行或通过合作的第三方机构核实您提交的用户信息（包括但不限于您的个人身份证信息等），并对获得的核实结果根据本协议及有关文件进行查看、使用和留存等操作。</p>
                            <p>
                                3、您注册使用的昵称中不得含有诱导性广告内容，如利用奖励机制诱导关注公众号、诱导加好友等。</p>
                            <p>
                                4、如果本公司发现您填写的注册信息和账户信息存在违法、不真实或无效的可能性，有权删除相关信息或注销您的账户。</p>
                            <p>
                                5、您不得将在无忧借条注册获得的账户借给他人使用，否则应承担由此产生的全部责任，并与实际使用人承担连带责任。为保证交易安全，您应当妥善保管用户名和密码，如果因为您的疏忽或管理不善、外借账户等自身原因，造成用户名和密码外泄、被盗等后果的，您应当自行承担由此所引发的一切损失。</p>
                            <p>
                                6、您在本站进行注册、浏览、下单购物、发布信息、参加活动等行为时，涉及您真实姓名/名称、通信地址、联系电话、电子邮箱、订单情况、评价或反馈、投诉内容、cookies等信息的，本公司有权从完成交易、提供配送、客户服务、开展活动、完成良好的客户体验等多种角度予以收集，并将对其中涉及个人隐私信息予以严格保密，除非得到您的授权、为履行强行性法律义务（如国家安全机关指令）或法律另有规定、本协议或本公司提供的其他协议另有约定外，本公司不会向外界披露您的隐私信息。</p>
                            <p>7、您同意本公司可使用关于您的个人资料（包括但不限于注册信息、用户名、密码等信息）或登录进入您的注册账户，以解决争议、保全证据、协助司法机关进行调查取证等。</p>
                        </div>
                        <div class="sec">
                            <h2>四、用户守则</h2>

                            <p>
                                1、您可以在无忧借条平台上发布各种信息，但所有信息及评论均提交由无忧借条进行内容审核。</p>
                            <p>
                                2、您在无忧借条发布的内容应符合网络道德，遵守中华人民共和国相关法律法规。不得发布以下信息：</p>
                            <p>
                                1)&nbsp;&nbsp;反对宪法所确定的基本原则的；</p>
                            <p>
                                2)&nbsp;&nbsp;危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
                            <p>
                                3)&nbsp;&nbsp;损害国家荣誉和利益的；</p>
                            <p>
                                4)&nbsp;&nbsp;煽动民族仇恨、民族歧视，破坏民族团结的；</p>
                            <p>
                                5)&nbsp;&nbsp;破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
                            <p>
                                6)&nbsp;&nbsp;散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
                            <p>
                                7)&nbsp;&nbsp;散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
                            <p>
                                8)&nbsp;&nbsp;侮辱或者诽谤他人，侵害他人合法权益的；</p>
                            <p>
                                9)&nbsp;&nbsp;含有法律、行政法规禁止的其他内容的。</p>
                            <p>
                                本公司有权对您在无忧借条发布的上述信息进行屏蔽、删除处理，同时对账户采取警告、封号等措施，同时本公司有权将相关事项提交司法机关依法处理。</p>
                            <p>
                                3、您必须保证您发布的信息（包括但不限于文字、图片、视频及活动本身）真实、合法且不侵犯第三方的合法权益，否则应承担所有相关法律责任。</p>
                            <p>
                                4、您不得利用无忧借条从事侵害他人合法权益之行为，否则应承担所有相关法律责任，因此导致本公司或本公司雇员受损的，您应承担赔偿责任。</p>
                            <p>
                                5、上述侵权行为包括但不限于：</p>
                            <p>
                                1)&nbsp;&nbsp;侵害他人名誉权、隐私权、商业秘密、商标权、著作权、专利权等合法权益；</p>
                            <p>
                                2)&nbsp;&nbsp;违反依法定或约定之保密义务；</p>
                            <p>
                                3)&nbsp;&nbsp;冒用他人名义使用无忧借条；</p>
                            <p>
                                4)&nbsp;&nbsp;从事非法交易行为，如洗钱、传销、发布反动信息、倒卖毒品、禁药、组织淫秽活动等本公司认为不得使用无忧借条进行发布的活动等；</p>
                            <p>
                                5)&nbsp;&nbsp;提供赌博资讯或以任何方式引诱他人参与赌博；</p>
                            <p>
                                6)&nbsp;&nbsp;非法使用他人银行账户（包括信用卡账户）或无效银行账号（包括信用卡账户）交易；</p>
                            <p>
                                7)&nbsp;&nbsp;违反《银行卡业务管理办法》使用银行卡，或利用信用卡套取现金（以下简称套现）；</p>
                            <p>
                                8)&nbsp;&nbsp;开展与您或其他用户宣称的活动内容不符合的非法活动，或不真实的活动；</p>
                            <p>
                                9)&nbsp;&nbsp;从事任何可能含有电脑病毒或是可能侵害本服务系统、资料之行为；</p>
                            <p>
                                10)&nbsp;&nbsp;其他本公司有正当理由认为不适当之行为；</p>
                            <p>
                                11)&nbsp;&nbsp;其他违反法律法规的行为。</p>
                            <p>
                                6、您不得干扰本站的正常运转，不得侵入本站及国家计算机信息系统。</p>
                            <p>
                                7、您不得发布广告、垃圾邮件。</p>
                            <p>
                                8、您不得恶意利用技术手段或其他方式，为获取优惠、折扣或其他利益而注册账户、下单等，影响其他用户正常使用无忧借条或其相关合法权益，影响无忧借条正常运营秩序。</p>
                            <p>
                                9、您账户内的任何无忧借条优惠信息（包括但不限于无忧借条红包等）由我公司享有解释权和修改权，您仅享有在无忧借条购物时的使用权，严禁转卖无忧借条账户、无忧借条红包或其他类型的优惠券，或利用无忧借条账户进行其他经营性行为等。</p>
                        </div>
                        <div class="sec">

                            <h2>五、通知和公告</h2>

                            <p>
                                1、我公司将在无忧借条用户界面明显位置发布通知和公告。</p>
                            <p>
                                2、我公司将不会单独通知您公告内容，在本平台发布的通知和公告，视为您已阅读并同意。</p>
                            <p>
                                3、我公司对于已发布的通知和公告有单方面解释权。</p>
                            <p class="weight">4、您在无忧借条平台上注册时填写的手机号码、电子邮箱等联系方式，均为双方之间涉诉纠纷相关材料有效送达地址，按本协议约定由任何一方发给您的任何通知，应以短信或者电子邮件等形式发出，送至约定邮箱或者手机号码。
5.如您需变更联络邮箱或者手机号码的，应当以书面通知并得到被通知方的确认，否则发送至原约定邮箱或手机号码，发送即视为送达。您应完全独自承担因通过这些联系方式无法与您取得联系而导致的您在使用本服务过程中遭受的任何损失或增加任何费用等不利后果。</p>

                        </div>

                        <div class="sec">

                            <h2>六、免责条款</h2>

                            <p>
                                1、本公司不对因下述任一情况导致的任何损害赔偿承担责任，包括但不限于利润、商誉、使用、数据等方面的损失或其他无形损失的损害赔偿：</p>
                            <p>
                                1)&nbsp;&nbsp;本公司有权基于单方判断，包含但不限于本公司认为您已经违反本协议的明文规定及精神，暂停、中断或终止向您提供本服务或其任何部分，并移除您的资料。</p>
                            <p>
                                2)&nbsp;&nbsp;本公司在发现异常交易或有疑义或有违反法律规定或本协议约定之时，有权不经通知先行暂停或终止该账户的使用（包括但不限于对该账户名下的款项和在途交易采取取消交易、调账等限制措施），并拒绝您使用无忧借条之部分或全部功能。</p>
                            <p>
                                3)&nbsp;&nbsp;在必要时，本公司无需事先通知即可终止提供本服务，并暂停、关闭或删除该账户及您账号中所有相关资料及档案，并将您滞留在该账户的全部合法资金退回到您的银行账户。</p>
                            <p>
                                4)&nbsp;&nbsp;用户使用友借款中功能，无忧借条仅提供电子借据以及到期催款提醒，请借贷双方自行控制风险，勿借给陌生人钱。若双方产生借贷法律纠纷无忧借条积极配合出具相关证据。</p>
                            <p>
                                5)&nbsp;&nbsp;用户使用催款小秘书功能模块应遵守国家的相关法律法规，不得发布非法违规内容，无忧借条有权依法删除、暂停、处理违规违法内容，情节严重者，无忧借条有权交由国家公安机关处理，用户对所发内容应负全部法律责任，无忧借条不承担任何形式的法律责任。</p>
                            <p>
                                6)&nbsp;&nbsp;用户通过无忧借条AA活动参与或者发起AA活动，活动属于用户的个人行为，无忧借条不承担任何因活动前、活动中、活动后产生的纠纷及其责任，用户应自行承担。</p>
                            <p>
                                2、系统因下列状况无法正常运作，使您无法使用各项服务时，本公司不承担任何损害赔偿责任，该状况包括但不限于：</p>
                            <p>
                                1)&nbsp;&nbsp;本公司在无忧借条客户端公告之系统停机维护期间；</p>
                            <p>
                                2)&nbsp;&nbsp;电信设备出现故障不能进行数据传输的；</p>
                            <p>
                                3)&nbsp;&nbsp;因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成本公司系统障碍不能执行业务的；</p>
                            <p>
                                4)&nbsp;&nbsp;由于黑客攻击、电信部门技术调整或故障、网站升级、银行、第三方支付工具方面的问题等原因而造成的服务中断或者延迟。</p>
                            <p>
                                3、因您的过错导致的任何损失由您自行承担，本公司不承担任何损害赔偿责任，该过错包括但不限于：遗忘或泄漏密码，密码被他人破解，您使用的手机或其他终端被他人侵入等。</p>


                        </div>
                        <div class="sec">
                            <h2>七、法律适用与争端解决</h2>
                            <p class="weight">
                                1、本协议的签订、履行、终止、解决均适用于中华人民共和国的法律。</p>
                            <p class="weight">
                                2、凡因执行本协议或本协议有关的一切争议，先由双方协商解决，协商不成的可提交本公司所在地的人民法院管辖。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>

<script>
    seajs.use(['zepto', 'jumpApp'], function ($) {


    });
</script>
</body>
</html>
