
<!DOCTYPE html>
<html>
<head>
    <title>用户使用许可协议</title>
    <meta charset="UTF-8"/>
    <meta name="keywords" content="无忧借条"/>
    <meta name="description" content="无忧借条"/>
    <link rel="stylesheet" href="/mb/assets/css/public.css" type="text/css">
    <link rel="stylesheet" href="/mb/assets/css/helpcenter.css" type="text/css">
    <script src="/mb/assets/scripts/base/sea.js"></script>
    <script src="/mb/assets/scripts/base/flexible.js"></script>
    <style>
        .strong {
            font-weight: bold;
            font-size: 1.1rem;
            margin-bottom: .5rem;
        }

        .ques-con p {
            line-height: 2rem;
            margin-bottom: .5rem;
            text-indent: 2em;
        }
    </style>
</head>
<body>
<article class="views">
    <section class="view">
        <div class="pages ">
            <div class="page">
                <div class="page-content">
                    <div class="ques-con">
                        <p class="strong">重要提示：</p>
                        <p>尊敬的客户：为了维护您的权益，请在签署本协议前，仔细阅读本协议各条款，关注您在此用户使用协议中的权利和义务。</p>
                        <p>
                            欢迎阅读北京友信宝网络科技有限公司及旗下无忧借条平台（下称“无忧借条”“我们”）发布的“用户使用许可协议”（下称“本协议”）。本协议是关于您（下称“用户”“您”）在使用无忧借条平台手机软件（下称“无忧借条”）时，约定您和无忧借条之间权利义务关系的有效协议，本许可协议具有合同效力。</p>
                        <p>
                            感谢您使用我们提供的产品和服务，用户在使用这些服务前，请务必认真阅读本协议中的各项条款（未成年人审阅时应得到法定监护人的陪同），如您拒绝遵守这些条款，请退出网站，移动应用程序或其他服务，并不以任何方式使用它们。</p>
                        <p>
                            本协议内容包括以下条款及已经发布的或将来可能发布的各类规则。所有规则为协议不可分割的一部分，与协议正文具有同等法律效力。本协议是由用户与无忧借条共同签订的，适用于用户在无忧借条产品的全部活动。在用户注册时，用户已经阅读、理解并接受本协议的全部条款及各类规则，并承诺遵守中国现行的法律、法规、规章及其他政府规定，如有违反而导致任何法律后果的发生，用户独立承担所有相关法律责任。</p>
                        <p>
                            用户确定本许可协议后，本许可协议即在用户和无忧借条之间产生法律效力。用户按照无忧借条规定的注册程序成功注册为用户，即表示同意并签署了本许可协议。本许可协议不涉及用户与无忧借条的其他用户或合作伙伴之间因网上交易而产生的法律关系及法律纠纷，但用户或合作伙伴在无忧借条签订的任何电子法律文本，并承诺按该法律文本享有或放弃相应的权利、承担或豁免相应的义务。</p>
                        <p>一 、信息采集</p>
                        <p>用户在此不可撤销地同意并授权无忧借条收集一下个人信息：</p>
                        <p>1）在用户注册无忧借条账号时，用户根据无忧借条要求提供个人注册信息，包括但不限于姓名、性别、身份证号码、住址、联系方式等；</p>
                        <p>
                            2）在用户使用无忧借条产品服务，或访问无忧借条产品时，无忧借条平台自动接收并记录的用户的浏览器和计算机上的信息，包括但不限于用户的宽带类型、IP地址、浏览器类型、使用的语言、访问日期和时间、软硬件特征信息及用户需求的网页记录等数据；</p>
                        <p>3）用户使用无忧借条产品进行绑定银行卡，导入通讯录等操作所提供的银行卡、通讯录、通讯运营商等相关资料，具体如下：</p>
                        <p>A.网银相关资料：包括但不限于身份证号、客户号、用户名、卡片信息等；</p>
                        <p>
                            B.通讯运营商基本资料：等级姓名、手机号码、归属省份、话费余额、套餐信息（部分）、账单信息（部分）、开户日期（部分）、本地通讯录，包括姓名、电话号码、公司（如有）、电子邮件（如有）、地址（如有）、个人资料（如有）、备注（如有）；</p>
                        <p>
                            C.通讯运营商其他相关资料：通话记录相关信息（包括但不限于通话发生时间、通话发生地、主叫/被叫、通话对方号码、通话时长（秒）、本地漫游长途属性）、短信记录相关信息（包括但不限于服务类型、短信发送/接受时间、对方号码）等；</p>
                        <p>D.其他经用户明确授权的相关资料，如用户于其他第三方平台的账户信息、交易记录等；</p>
                        <p>
                            4）在用户使用无忧借条提供的贷款相关业务时，平台将通过用户提供的征信账户名信息向依法设立的征信机构查询用户的相关信用信息，包括但不限于任何信用分、信用报告、能够联系到用户的实体地址、电子邮件地址、电话号码；</p>
                        <p>5）无忧借条为了更好地单独或与商业伙伴合作为用户提供服务，经用户授权通过合法途径从商业伙伴处获取的其他用户个人信息。</p>
                        <p>二、信息使用</p>
                        <p>无忧借条以高度负责，谨慎义务对待用户个人信息，用户不可撤销地授权并同意无忧借条将收集到的用户信息用于以下用途：</p>
                        <p>1）将信息进行整合和处理，以便更好地为用户提供服务，并依此对无忧借条服务进行改进；</p>
                        <p>2）比较信息的准确性并与第三方进行验证，例如，将用户向我们提交的身份信息与身份验证的服务机构进行验证。</p>
                        <p>3）为服务用户的目的，无忧借条可能通过使用用户的个人信息，向用户提供用户感兴趣的通知、营销活动及其他商业性电子信息；</p>
                        <p>4）经用户明确同意并授权其他用途；</p>
                        <p>5）除本协议明确阐述和相关法律规定外，无忧借条不会向任何无关的第三方提供、出售、出租、分享或交易用户的个人信息；</p>
                        <p>6）无忧借条不允许任何第三方以任何手段收集、编辑、出售或者传播用户的个人信息。任何无忧借条用户如从事上述活动，一经发现，无忧借条有权立即终止与该用户的许可协议。</p>
                        <p>三、信息保护</p>
                        <p>无忧借条致力于取得和维护用户对我们的信任，因此无忧借条会使用商业上合理的技术和其他措施，防止用户的个人信息的丢失和被盗用。为尽可能地保护用户的个人信息安全，无忧借条提请用户注意:</p>
                        <p>
                            1）请妥善保管用户的用户名及密码信息。无忧借条将通过对用户密码进行加密等安全措施确保用户的信息不丢失，不被滥用和变造。尽管有前述安全措施，但同时也请用户注意在信息网络上不存在“完善的安全措施”，用户信息仍存在丢失、被盗用的可能，非因无忧借条过错发生上述情况，无忧借条不承担任何责任。</p>
                        <p>
                            2）基于防火墙或其他安全软件可能发生故障，或按照当前商业上可以采取的安全手段也难以避免或及时消除的故障及破坏，将可能导致用户信息遭到外部访问、窃取或删除，此等情形下无忧借条不承担相应的责任。</p>
                        <p>3）因不可抗力所导致的用户资料及信息泄露(包含但不限于黑客攻击、第三方导致的系统缺陷等)，无忧借条不承担相应的责任。</p>
                        <p>四、信息披露</p>
                        <p>无忧借条将对用户提供的信息严格保密，除具备下列情形之一外，不会向任何外部机构披露:</p>
                        <p>1）经过用户事先同意而披露，即在获得用户同意的情况下，无忧借条才会对外披露用户的个人信息；</p>
                        <p>2）应法律法规或公权力部门要求而披露，即无忧借条可能会根据法院、政府部门、上级监管机构等执法机构或法律法规的要求向其披露用户的个人信息;</p>
                        <p>
                            3）当无忧借条涉及合并、收购或资产出售等重大交易时，无忧借条有权依据交易的需要将用户信息提供给交易相对方及交易各方聘请的各中介机构(包括但不限于律师、会计师等)，会在任何个人信息进行转让或受其他隐私权政策约束之前，继续确保其保密性并对受到影响方进行及时通知。</p>
                        <p>4) 保护无忧借条和其他方利益，即无忧借条可能会为了保护无忧借条自身，无忧借条员工和客户、合作伙伴和其他公众的合法权利、利益和安全而合理披露用户的个人信息。</p>
                        <p>5)
                            建立信用体系，用户同意并授权无忧借条向依法设立的第三方征信机构提交用户在贷款业务中产生的相关信息，包括个人基本信息、借货交易信息、反映个人信用的其他信息，记录在征信机构建设的个人信用信息数据库中。</p>
                        <p>用户同意并授权无忧借条将用户的不良信息发送征信机构且不再另行通知。</p>
                        <p>五、第三方说明</p>
                        <p>
                            为了更好地为用户提供服务，无忧借条会展示商业伙伴等第三方网站链接和信息，当用户查看第三方创建的网页或使用第三方开发的应用程序时，请务必注意这些第三方主体拥有不同于无忧借条的信息保护政策。无忧借条会尽商业上的合理努力去要求该第三方对用户的个人信息采取保护措施，但无忧借条无法保证该第三方一定会按照无忧借条的要求采取保护措施，亦不对该第三方的行为及后果承担任何责任。如果用户发现这些第三方创建的网页或第三方开发的应用程序存在风险时，建议用户终止相关操作以保护自身的合法权益。</p>
                        <p>六、信息存储和交换</p>
                        <p>无忧借条收集的有关用户的信息和资料将保存在无忧借条的服务器上，这些信息和资料可能传送至用户所在国家、地区或无忧借条收集信息和资料所在地的境外并在境外被访问、存储和展示。</p>
                        <p>七、条款更新及用户关注义务</p>
                        <p>
                            1）用户在此确认知悉并同意，无忧借条有权根据需要不时地制定、修改本协议或各类规则，如本协议及规则有任何变更，无忧借条将采用在网页公告、App推送或其他方式通知用户该修改、增加或删减的内容，经修订的协议、规则一经公布后，立即自动生效。用户应不时地注意本协议及附属规则地变更，若用户不同意相关变更，无忧借条有权不经任何告知终止、中止本许可协议或者限制用户进入相关产品的全部或者部分板块且不承担任何法律责任。</p>
                        <p>2）用户有义务不时关注并阅读最新版的协议及网站公告、App推送通知等。如用户不同意更新后的协议，可以且立即停止接受无忧借条依据本协议提供的服务。</p>
                        <p>八、法律管辖和适用</p>
                        <p>
                            本协议的订立、执行和解释及争议的解决均应适用在中华人民共和国大陆地区适用之有效法律(但不包括其冲突法规则)。如发生本协议与适用之法律相抵触时，则这些条款将完全按法律规定重新解释，而其它有效条款继续有效。若用户和无忧借条就本协议内容或其执行发生任何争议，双方应尽力友好协商解决;协商不成时，用户在此完全同意将纠纷或争议提交无忧借条所在地之北京朝阳区区人民法院管辖。</p>
                        <p>九、其他</p>
                        <p>
                            1）无忧借条仅在用户接受本协议条款并依此提供个人信息且授权无忧借条按照上述条款的规定获取用户信息的基础上提供服务，部分个人信息提供需要配合用户“绑定银行卡”、“添加相关账号”的操作进行，如用户不同意本协议条款或不同意进行相应操作，则用户将无法使用无忧借条全部服务或相应部分服务。</p>
                        <p>2) 如果本协议中任何一条被视为废止、无效或因任何理由不可执行，该条应视为可分的且并不影响任何其余条款的有效性和可执行性。</p>
                        <p>3）用户如需更正所提供的个人信息，或希望停止接受无忧借条网络提供的服务，或对本协议有任何疑问，请通过应用内的用户反馈功能联系无忧借条工作人员处理。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
</body>
</html>