
<!DOCTYPE html>
<html>
<head>
    <title>隐私协议</title>
    <meta charset="UTF-8"/>
    <meta name="keywords" content="无忧借条"/>
    <meta name="description" content="无忧借条"/>
    <link rel="stylesheet" href="/mb/assets/css/public.css" type="text/css">
    <link rel="stylesheet" href="/mb/assets/css/helpcenter.css" type="text/css">
    <script src="/mb/assets/scripts/base/sea.js"></script>
    <script src="/mb/assets/scripts/base/flexible.js"></script>
    <style>
        .strong {
            font-weight: bold;
            font-size: 1.1rem;
            margin-bottom: .5rem;
        }

        .ques-con p {
            line-height: 2rem;
            margin-bottom: .5rem;
            text-indent: 2em;
        }
    </style>
</head>
<body>
<article class="views">
    <section class="view">
        <div class="pages ">
            <div class="page">
                <div class="page-content">
                    <div class="ques-con">
                        <p>
                            本协议由北京友信宝网络科技有限公司及旗下无忧借条平台（以下简称“本公司”“无忧借条”）和您签订。为明确用户在接受和提供无忧借条平台服务过程中的权利义务，特制订本协议。您在通过本软件使用本公司提供的服务前，请仔细阅读以下的全部条款，一经点击“同意”或“勾选”后完成下一步操作，即视为您同意了本协议全部条款。所以，若您对本协议任何条款有异议的，请不要操作下一步或点击“同意”或“勾选”。</p>
                        <p>
                            “无忧借条”（以下亦称“我们”）尊重并保护所有使用无忧借条平台服务的用户的个人隐私权，在您使用无忧借条提供的服务时（下称“服务”），我们将按照本协议规定收集、使用、共享及保护您的个人信息。</p>
                        <p>
                            本协议包含了我们收集、存储、使用、共享和保护您的个人信息的条款，我们希望通过本协议向您清晰地介绍我们为您提供的访问、更新、控制和保护您个人信息的方式，因此请您完整地阅读本《“无忧借条“用户使用许可及隐私保护协议》（下称“本协议”），作出准确选择。</p>
                        <p>第一条服务内容</p>
                        <p>
                            为用户提供更好、更优、更个性化的服务是无忧借条坚持不懈的追求，也希望通过我们提供的服务可以更迅速地解决您生活资金周转的难题。本协议适用于无忧借条提供的所有服务，您访问无忧借条平台网站或登陆相关客户端使用无忧借条平台提供的服务，均适用本隐私权政策。</p>
                        <p>
                            需要特别说明的是，本协议不适用于其他第三方出借人或机构向您提供的服务，例如无忧借条平台上的出借人或机构依托无忧借条平台向您提供服务时，您向第三方出借人或机构提供的个人信息不适用于本协议，我们只能做到与第三方出借人或机构商户进入平台前签订禁止为了服务以外非法倒卖您个人信息条款，以免造成生活骚扰，同时也请您与第三方出借人或机构再次约定个人信息保密协议，如果出现非法交换，出售、提供公民信息等违法行为均与我们无关。</p>
                        <p>第二条信息收集</p>
                        <p>我们提供服务时，可能会收集、储存和使用下列与您有关的信息。如果您不提供相关信息，可能无法注册成为我们的用户或无法享受我们提供的某些服务，或者无法达到相关服务拟达到的效果。</p>
                        <p>
                            1.当您注册无忧借条账户及您在使用无忧借条平台提供的相关服务时填写或提交的信息，包括但不限于您的姓名、性别、出生年月日、身份证号码、电话号码、QQ号码、电子邮箱、地址及相关附加信息（如您所在的省份和城市、邮政编码等）。</p>
                        <p>
                            2．为了提供并优化您需要的服务，我们会收集您使用服务的相关信息，这类信息包括：在您使用无忧借条平台服务，或访问无忧借条平台app时，无忧借条自动接收并记录的您的软硬件的信息，包括但不限于您的IP地址、浏器的类型、使用的语言、访问日期和时间、软硬件特征信息及您需求的网页记录等数据；如您下载或使用无忧借条或其关联公司客户端软件，或访问无忧借条平台APP等形式移动端时，无忧借条可能会读取与您位置和移动设备相关的信息，包括但不限于设备型号、设备识别码、操作系统、分辨率、电信运营商等。</p>
                        <p>
                            用户理解，为申请获得无忧借条服务，您应向我们提供您的个人信息，为向您提供服务之目的，我们须向第三方透露您的个人信息。您特此向我们授权，我们有权使用您的个人信息、您申请服务时提供相关信息和您在使用服务时储存在无忧借条的非公开内容（以下简称“个人资料”）。我们保证在除为提供相关目的服务之外，不对外公开或向第三方提供您的个人资料，但下列情况除外：</p>
                        <p>(1)事先获得您的明确授权；</p>
                        <p>(2)按照政府主管部门或相关法律的要求：</p>
                        <p>(3)只有透露您的个人资料，才能提供您所要求的产品和服务；</p>
                        <p>(4)以维护无忧借条合法权益之目的；</p>
                        <p>(5)维护社会公众利益；</p>
                        <p>(6)符合其他合法要求；</p>
                        <p>
                            此外，为了配合政府或法律的合法要求、传票或指令，为了保护无忧借条的合法性，或者为了确保无忧借条业务和系统的完整与操作，我们可获取和披露其认为必要或恰当的任何信息，包括但不限于用户的个人信息、iP地址和流量信息、使用历史以及发布内容。本公司承诺尽商业上的合理努力采用安全技术和程序保障用户信息安全，且上述技术和程序不低于国家法律法规的要求，以防信息的丢失、不当使用等情况的发生。</p>
                        <p>
                            您知悉并认可：无忧借条可能会与第三方合作向用户提供相关的网络服务，在此情况下，无忧借条有权将用户的注册信息等资料提供给该第三方。另外，在不透露单个用户隐私资料的前提下，无忧借条有权对整个户数据库进行分析抖对用户数据库进行商业上的利用。无优借条可能会对网络服务使用情况进行统计。同时无忧借条可能会与公众分享这些统计信息，以展示我们服务的整体使用趋势。这些统计信息不包含您的任何身份识别信息。</p>
                        <p>第三条、借款匹配授权条款</p>
                        <p>
                            如果您选择同意并点击无忧借条首页的借款申请按钮（即向无忧借条出借人推送您的借款申请），本公司系统即将您的个人资料推送给合适的出借人或机构，此匹配功能根据您的资质决定配对机构的数量。您点击了下方的同意按钮即表示您充分理解了本授权协议并授权无忧借条可将您的个人资料推送给符合匹配情况的出借人或机构。</p>
                        <p>
                            如果您点击了下方的同意按钮选择推送您的个人资料，出借人或机构可能会以短信、电话、微信、QQ、站内信、系统通知等形式联系您，您应自行承担因此可能产生的任何借贷风险；如因后续与第三方机构产生的线下行为导致的任何风险、与我们无关。</p>
                        <p>
                            无忧借条在此承诺不会泄露您的个人资料给非配对以及本协议内不包含的出借人或机构。出借人或机构依托无忧借条平台向您提供服务时，我们只能做到与第三方出借人或机构进入平台前签订禁止为了服务以外非法倒卖您个人信息条款，以免造成生活骚扰，同时也请您与第三方出借人或机构再次约定个人信息保密协议，您独立向第三方出借人或机构提供的个人信息不适于本协议，如果出现非法交换、出售、提供公民信息等违法行为均与我们无关。如有发现平台内出借人或机构非法出售、交换您的个人资料问题，请第一时间与无忧借条工作人员进行举报。</p>
                        <p>第四条您的权利与义务</p>
                        <p>（一）您必须为年满18岁并具有完全民事行为能力的自然人。</p>
                        <p>（二）您点击“同意”或“勾选”，即视为同意本协议全部内容，本公司亦即视为该等操作是证明、声明和保证您为接受服务的主体，并应遵守本协议的相关规定。</p>
                        <p>（三）您只能通过本公司软件获取自己的信息，不得在他人未知情的情况下获取他人的信息。</p>
                        <p>（四）您应妥善保管好登录本公司平台的账户名、密码等信息，并对以您个人名义进行的申请、查询等所有操作行为承担所有法律责任。</p>
                        <p>
                            （五）您应妥善保管本人信息，包括并不限于用户名、账号、手机号码、密码、验证码。如因您本人保管个人信息不善，或因您不个慎登录“钓鱼“网站、互联网邮箱系统出现安全问题，导致他人获得您的个人信息，导致遭受损失的后果由您自行承担。</p>
                        <p>
                            （六）查询相关信息的数据来源均为第三方服务提供商，如有与第三方服务提供商所提供的信息存在差异，应以第三方服务提供商信息为准。您不应将其作为针对我们任何投诉、起诉、要求或者其他法律程序的依据。</p>
                        <p>（七）您不得传送任何包含病毒、木马、蠕虫等可能破坏、感染、密码拦截任何系统，数据和信息的程序，不得通过黑客、密码破译等方式违法侵入计算机和网络系统及他人账户。</p>
                        <p>第五条免责声明</p>
                        <p>经过您的确认和同意时，您已经意识到了这种风险的存在，并同意承担这样的风险。对于因此而引起的任何法律纠纷，无忧借条不承担任何法律责任。</p>
                        <p>
                            签订合法协议的第三方拥有法律上许可的对您的个人信息进行查询及以短信、电话、微信、QQ、站内信、系统通知等形式通知和服务您（可退订〕的权利。同时，我们对任何第三方通过无忧借条发送服务或包含在服务中的任何内容不承担责任，对于因此而引起的任何法律纠纷，无忧借条不承担任何法律责任。对任何第三方可能对您造成的任何错误、中伤、诽谤、诬蔑、不作为、谬误、淫秽、色情或亵渎，我们不承担法律责任。</p>
                        <p>
                            如您对本协议有任何疑问，您可以通过无忧借条平台公布的联系方式与我们联系。如果您不同意本协议任何内容，您应立即停止使用无忧借条平台相关服务。当您使用无忧借条平台提供的该类型服务时，即表示您已同意我们按照本协议来合法使用和保护您的个人信息。</p>
                        <p>第六条不可抗力条款</p>
                        <p>
                            因台风、地震、海啸、洪水、战争、计算机病毒感染、黑客攻击、网络通信故障等不能预见、不能控制的不可抗力因素，造成本公司不能正常向您提供服务而可能导致的损失，本公司深表遗憾，但是不承担法律责任。</p>
                        <p>第七条网络传输风险</p>
                        <p>
                            您理解并同意，由于本协议所列服务涉及个人隐私，通过网络提供和传输存在特定的泄密风险，用户一经充分考虑到该风险，并愿意承担该风险通过网络的方式完成本项服务，如果因网络传输导致个人隐私泄露等后果，将由用户自行承担。尽管无忧借条已作好了全面的安全防范措施后，以下情况仍然有可能发生，例如某一第三方躲过了我们的安全措施并进入我们的数据库，查找到您的个人信息。无忧借条认为在您把您的个人信息放入我们的数据库时候，已经意识到风险存在，并同意承担这样风险，由此引发的任何法律纠纷，无忧借条不承担法律责任。</p>
                        <p>第八条法律适用条款以及争议解决方式</p>
                        <p>
                            本协议的解释、履行及争议的解决均适用中华人民共和国法律。在协议履行期间，凡由本协议引起的或与本协议有关的一切争议、纠纷，当事人应首先协商解决。协商不成，向合同签订地北京市朝阳区人民法院提起诉讼。</p>
                        <p>第九条附则</p>
                        <p>（一）若本协议中的任何条文无论因何种原因完全或部分无效或不具有执行力，本协议的其他条款仍继续有效。</p>
                        <p>（二）本协议未尽事宜，根据我们国家相关法律，法规，各信息提供的相关业务规定及您注册本APP或网站时候同意《用户注册协议》办理。如需制定补充协议，其法律效力同本协议。</p>
                        <p>（三）本协议将使用电子签署的方式完成签署，自您点击“同意“或沟选“并进行下一步操作后则协议生效。</p>
                        <p>（四）您在本协议项下对本公司的授权将视为对本公司及本公司之关联公司的授权。本公司及本公司关联公司均可凭借您的授权及本协议约定执行相关操作。</p>
                        <p>
                            无忧借条会不时更新本协议，该等修订构成本协议的一部分。在我们更新本协议后，无论我们是否发出通知，而您仍继续无忧借条提供的服务，即表示您同意受经修订本协议的约束。本协议属于无忧借条使用协议不可分割的有效组成部分。如果您不同意本协议（包括我们可能不定时对其或其中引述的其他规则所进行的任伺修改）的全部规定，则请勿使用无忧借条提供的所有服务，或您可以主动取消无忧借条提供的服务。（以下无正文）您同意，您亦应严格遵守本协议的信息使用及隐私保护约定。</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
</body>
</html>